<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recipes of Doom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <h1 style="text-align:center; font-size:45px;">Recipes of Doom</h1>
    <div class="container">
        <div class="wrapper">
            Enter an ingredient: <input type="text" name="ingredient" id="ingredient"/>
            <button id="submit" onclick="getRecipes()" class="button" style="vertical-align:middle"><span>Submit </span></button>
        </div>
        <div id="recipes"></div>
    </div>

    <script src="js/script.js"></script>
    <script>
    var urlParams = new URLSearchParams(window.location.search);
    let ingredientString = urlParams.get('ingredient');
            if(ingredientString){
                let searchBox = document.getElementById('ingredient')
                searchBox.value = '' + ingredientString;
            }
    </script>
    
</body>

</html>